body {
    margin: 0;
    padding: 6;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

.container {
    width: 80%;
    margin: auto;
    display: flex;    
}

.header {
    border-bottom: 2px #32b9cd solid;

}

.header .container {
    justify-content: space-between;
}

.header a {
    text-decoration: none;
    color: #d69b43;
}

.agora {
    font-weight: 800;
}

.navbar {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.titulo {
    color: #32b9cd;
    width: fit-content;
    font-weight: 500x;
}

.banner {
    display: flex;
    color: #db7093;
    background-image: url('../assets/bg-jelly-fish-para_outras_pags.png');
    background-size: cover;
    align-items: center;
    height: 700px;
}

.banner .container {
    height: 400px;
    font-size: 36px;
    justify-content: center;
    align-items: center;

}

.banner p {
    margin: 0;
    padding: 0;
    width: 280px;
    
    height: fit-content;
}

.banner .container {
    display: grid;
    width: 450px;
    height: 350px;
    border-radius: 5px;
    background-color: #e5e5e5;
    justify-content: center;

}

.banner .container .email {
    font-size: 24px;
}

.banner .container .senha {
    font-size: 24px;
}

.banner .container input {
    border-color: #32b9cd;
    border-radius: 10px;
    height: 30px;
}

.rodape {
    display: flex;
    background-color: #32b9cd;
    min-height: 100vh;
    flex-direction: column;
    

}

.rodape .textR p {
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.banner .container button {
    border-radius: 10px;
    color: white;
    background-color: #e6005a;
    width: 100px;
    height: 50px;
    font-size: 24px;
}



